/* line 3, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
  font-family: 'Montserrat', sans-serif; }

/* line 11, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
.icon {
  background-color: #D95B26;
  padding: 0.8em;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  text-align: center;
  box-shadow: -4px 10px 47px -7px rgba(0, 0, 0, 0.45); }
  /* line 22, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
  .icon img {
    height: 100%; }

/* line 29, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#caece7+0,d7e9d5+48,e8eac8+100 */
  background: #caece7;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #caece7 0%, #d7e9d5 48%, #e8eac8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#caece7', endColorstr='#e8eac8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10; }
  /* line 46, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
  .gradient:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(bg.svg) center center no-repeat;
    background-size: cover;
    opacity: 0.3; }

/* line 64, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
main {
  margin: 1.5em 2em;
  box-sizing: border-box; }

@media screen and (min-width: 650px) {
  /* line 73, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
  .home-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    /* line 78, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
    .home-wrapper > header {
      -webkit-flex: 10 100%;
          -ms-flex: 10 100%;
              flex: 10 100%;
      margin: 0 1em; }
    /* line 83, /Users/Schuurmans/Desktop/oefenen_leren/meteor/tama3/imports/styles/style.scss */
    .home-wrapper > section {
      -webkit-flex: 40%;
          -ms-flex: 40%;
              flex: 40%;
      margin: 0 1em;
      padding: 0.5em 1em; }
 }
