<template name='layout'>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="gradient"></div>
	
	<nav>
		<div class="container-nav">
			<ul>
			<li><a href="/">Home</a></li>
			{{#if currentUser}}
			<li><a href="/myTama">My Tamagotchi's</a></li>
			<li><a href="/adopt">Create a group</a></li>
			<li><a href="/join">Join a group</a></li>
			{{/if}}
			
		</ul>
		{{> loginButtons}}
		<div class="menubutton hidden">
			<span>menu</span>
		</div>
		</div>
	</nav>

	<main>
		{{> Template.dynamic template=main}}
	</main>
</body>

</template>